{% load static %}
<div class="comments-area">
    <h4>{{ post.comment_set.count }} Comments</h4>
    {% for comment in post.comment_set.all %}
    <div class="comment-list">
       <div class="single-comment justify-content-between d-flex">
          <div class="user justify-content-between d-flex">
             <div class="thumb">
                <img src="{% static 'aznews/assets/img/author.png' %}" alt="">
             </div>
             <div class="desc">
                <p class="comment">
                   Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                   Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                </p>
                <div class="d-flex justify-content-between">
                   <div class="d-flex align-items-center">
                      <h5>
                         <a href="#">{{ comment.name }}</a>
                      </h5>
                      <p class="date">{{ comment.created_at }}</p>
                   </div>
                   <div class="reply-btn">
                      <a href="#" class="btn-reply text-uppercase">reply</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    {% endfor %}
   
 </div>
 